/* book-quantity.component.css */
.row {
  display: flex;
  align-items: center;
  justify-content: center; /* Đảm bảo các phần tử căn giữa */
}

.quantity {
  font-size: 0.9em; /* Giảm kích thước font */
  margin: 0 2px; /* Giảm margin giữa các phần tử */
}

.mat-icon-button {
  width: 28px; /* Điều chỉnh kích thước button */
  height: 28px;
  line-height: 28px;
  margin: 0 1px; /* Giảm margin giữa các button */
}
