<div *ngIf="book">
  <div class="row align-items-center" *ngIf="shoppingCart$ | async as shoppingCart">
    <div class="col-auto">
      <button
        mat-icon-button
        color="primary"
        (click)="removeFromCart(shoppingCart.id)"
        aria-label="Decrease quantity">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
    <div class="col text-center quantity">
      {{ shoppingCart.getQuantity(book.isbn) }} in cart
    </div>
    <div class="col-auto">
      <button
        mat-icon-button
        color="primary"
        (click)="addToCart(shoppingCart.id)"
        aria-label="Increase quantity">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
