<div *ngIf="book">
  <div class="row no-gutters" *ngIf="shoppingCart$ | async as shoppingCart">
    <div class="col-2">
      <button
        (click)="removeFromCart(shoppingCart.id)"
        class="btn btn-secondary btn-block">-
      </button>
    </div>
    <div class="col text-center quantity">
      {{ shoppingCart.getQuantity(book.isbn) }} in cart
    </div>
    <div class="col-2">
      <button
        (click)="addToCart(shoppingCart.id)"
        class="btn btn-secondary btn-block">+
      </button>
    </div>
  </div>
</div>

