<mat-card class="order-card" appearance="outlined" *ngIf="orderDetail">
  <mat-card-header>
    <mat-card-title>
      @if(orderDetail.status == 'ACCEPTED') {
        <span style="color: green">Congratulations! Your order has been accepted</span>
      }
      @if(orderDetail.status == 'PAYMENT_FAILED') {
        <span style="color: #ff0000">Your order has not been successfully paid yet</span>
      }
      @if(orderDetail.status === 'WAITING_FOR_ACCEPTANCE') {
        <span style="color: #ff0000">Your order is waiting for acceptance, please verify email</span>
      }
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
    <mat-card-subtitle>
      @if(orderDetail.status == 'PAYMENT_FAILED') {
        <button mat-raised-button (click)="onRepayment(orderDetail.id)">Repayment</button>
      }
      @if(orderDetail.status == 'WAITING_FOR_ACCEPTANCE') {
        <button mat-raised-button [disabled]="isSendingOtp" (click)="sendOtp(orderDetail.id)">
          <span *ngIf="isSendingOtp">Resend ... {{timeRemaining}} s</span>
          <span *ngIf="!isSendingOtp">Send OTP</span>
        </button>

        <form [formGroup]="otpFormGroup">
          <mat-form-field>
            <input matInput placeholder="OTP" formControlName="otp">
            @if (otpFormGroup.controls['otp'].hasError('required')) {
              <mat-error>Otp is <strong>required</strong></mat-error>
            }
            @if (otpFormGroup.controls['otp'].hasError('pattern')) {
              <mat-error>Otp is <strong> number with 6 digits</strong></mat-error>
            }
          </mat-form-field>
          <button mat-raised-button [disabled]="isVerifyingOtp" (click)="verifyOtp(orderDetail.id)">
            {{ isVerifyingOtp ? 'Verifying...' : 'Verify OTP' }}
          </button>
        </form>
      }
    </mat-card-subtitle>
    <br>
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title> Order detail</mat-panel-title>
          <mat-panel-description style="color: green">
            Total price: {{orderDetail.totalPrice | currency:'VND':'symbol':'1.0-0'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>User Information: <button mat-icon-button (click)="updateOrder()"><mat-icon>edit</mat-icon></button><br>
          <span matListItemLine>Full name: {{orderDetail.userInformation.fullName}}</span>
          <span matListItemLine>Email: {{orderDetail.userInformation.email}}</span>
          <span matListItemLine>Phone number: {{orderDetail.userInformation.phoneNumber}}</span>
          <span matListItemLine>City: {{orderDetail.userInformation.city}}</span>
          <span matListItemLine>Zipcode: {{orderDetail.userInformation.zipCode}}</span>
          <span matListItemLine>Address: {{orderDetail.userInformation.address}}</span>
          <span matListItemLine style="font-weight: bold">Payment method: {{orderDetail.paymentMethod}}</span>
        </p>

        <p>Order items:</p>
        <mat-list *ngFor="let orderItem of orderDetail.lineItems">
          <a [routerLink]="['/book-detail', orderItem.isbn]" style="text-decoration: none">
            <mat-list-item class="mat-list-item">
              <span matListItemTitle>{{orderItem.bookDetail?.title}}</span>
              <span matListItemLine>{{orderItem.quantity}}</span>
              <span matListItemLine>Total price: {{orderItem.totalPrice | currency:'VND':'symbol':'1.0-0'}}</span>
            </mat-list-item>
          </a>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title> Log in / Sign up to persist the orders </mat-panel-title>
        </mat-expansion-panel-header>
        <p>When you logged in or create a new account, this order and shopping cart will save automatically</p>
        <button mat-flat-button>Login/Signup</button>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
  <mat-card-footer class="order-card-footer">
    <mat-chip-set aria-label="Chihuahua traits">
      <mat-chip [cdkCopyToClipboard]="orderDetail.id" (click)="copySuccess()">
        Click to copy ID Order
      </mat-chip>
      <mat-chip><a style="text-decoration: none; color: darkblue" routerLink="">Buy more</a></mat-chip>
      <mat-chip>sassy</mat-chip>
    </mat-chip-set>
  </mat-card-footer>
</mat-card>
