.mat-grid-tile {
  display: flex; /* Sử dụng flexbox để các cart item nằm cạnh nhau */
  justify-content: center; /* Căn giữa các cart item */
  align-items: stretch; /* Co giãn các cart item để chiếm toàn bộ chiều rộng */
}

.dashboard-card {
  width: 100%; /* Chiếm toàn bộ chiều rộng của grid tile */
  max-width: none; /* Loại bỏ giới hạn max-width của mat-card */
}
