.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
}

.mat-h1 {
  text-align: center;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.mat-card-image {
  padding: 0 15px;
  height: 180px;
  object-fit: cover;
}

.book-title {
  text-decoration: underline;
  color: black;
}

.book-title:hover {
  text-decoration: none;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 10px;
}

.example-margin {
  /*margin: 0 10px;*/
}
