<mat-card appearance="outlined" *ngIf="book">
  <mat-card-header>
    <mat-card-title>
      <a class="book-title" [routerLink]="['/book-detail', book.isbn]">{{ book.title }}</a>
    </mat-card-title>
    <mat-card-subtitle>
      <span>Author: {{book.author}}</span>
    </mat-card-subtitle>

  </mat-card-header>
  <img class="mat-card-image" mat-card-image [src]="book.photos?.at(0)" alt="Book photo">
  <mat-card-content class="dashboard-card-content">
    <strong style="color: green">{{ book.isbn }}</strong>
    @if(!copiedContent) {
      <button (click)="onCopyIsbn($event)" [cdkCopyToClipboard]="book.isbn" mat-icon-button [matTooltip]="'Copy ISBN'"><mat-icon>content_copy</mat-icon></button>
    }
    @if(copiedContent) {
      <span><mat-icon>check</mat-icon> Copied content!</span>
    }
    <br>
    <span><del>{{ book.price | currency }}</del></span> <br>
    <strong>{{ book.price | currency }}</strong> <br>
    <span style="text-decoration: underline" *ngIf="book.inventory > 0" class="mat-typography">In stock</span>
    <span style="text-decoration: underline" *ngIf="book.inventory == 0" class="mat-typography">Out of stock</span><br>
    <section class="example-section" [matTooltip]="'Đã bán ' + book.purchases">
      <mat-progress-bar
        class="example-margin"
        mode="determinate"
        [value]="book.purchases">
      </mat-progress-bar>
    </section>

  </mat-card-content>
  <mat-card-actions class="card-actions" *ngIf="shoppingCart$ | async as shoppingCart">
    <button (click)="addToCart(shoppingCart.id)" *ngIf="shoppingCart.getQuantity(book.isbn) === 0; else updateQuantity" mat-stroked-button>
      Add to cart
    </button>
    <ng-template #updateQuantity>
      <app-book-quantity [book]="book" [shopping-cart]="shoppingCart$"></app-book-quantity>
    </ng-template>
    <button [disabled]="book.inventory === 0" mat-flat-button (click)="checkoutNow(book)" >Buy now</button>
  </mat-card-actions>
</mat-card>
